<a href="https://colab.research.google.com/github/DanielVial15/IA/blob/main/Regressao_Logistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
# Alunos : Daniel Carneiro dos Santos Vial, Lucas da Cunha Figueroa

from sklearn.linear_model import LogisticRegression
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sn

df = pd.read_csv('AnaliseEstudo.csv', sep=';')

# Cada ponto possui duas features. A regressão logistica pode considerar N features diferentes
X = np.array([[1,3], [2,5], [3,7], [4,2]])

##A variavel resposta representa o que é necessário descobrir / medir.
y = np.array([[2], [3], [4], [5]])


clf = LogisticRegression(random_state=0).fit(X, y)
clf.predict(X[:2, :])

clf.predict_proba(X[:2, :])


clf.score(X, y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

1.0

In [ ]:
df.head()

In [ ]:
col = df.loc[: , "Prova1":"Prova3"]
print(col)

In [ ]:
df['PMedia'] = col.mean(axis=1)
print(df)

In [74]:
df.loc[df['PMedia'] >= 12, 'Aprovado']=1
df.loc[df['PMedia'] < 12, 'Reprovado']=0

df['Aprovado'].fillna(0,inplace=True)
df['Reprovado'].fillna(0,inplace=True)
df

     Idade  TempoEstudo  Faltas  Prova1  ...  Prova3     PMedia  Aprovado  Reprovado
0       18            2       4       0  ...      11   7.333333       0.0        0.0
1       17            2       2       9  ...      11  10.333333       0.0        0.0
2       15            2       6      12  ...      12  12.333333       1.0        0.0
3       15            3       0      14  ...      14  14.000000       1.0        0.0
4       16            2       0      11  ...      13  12.333333       1.0        0.0
..     ...          ...     ...     ...  ...     ...        ...       ...        ...
644     19            3       4      10  ...      10  10.333333       0.0        0.0
645     18            2       4      15  ...      16  15.333333       1.0        0.0
646     18            2       6      11  ...       9  10.666667       0.0        0.0
647     17            1       6      10  ...      10  10.000000       0.0        0.0
648     18            1       4      10  ...      11  10.666667       0.0        0.0

[649 rows x 9 columns]

In [77]:
LG=LogisticRegression().fit(df[['Idade','TempoEstudo','Faltas',]],df['Aprovado'])